<div [@routerTransition]>
    <div class="row mt-2">
        <div class="col-4">
            <mat-form-field appearance="outline">
                <mat-select placeholder="option" [(value)]="selectedOption" (selectionChange)="changeOption()" disableOptionCentering>
                    <mat-option value="scan">Scan</mat-option>
                    <mat-option value="query">Query</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-4">
            <button mat-stroked-button (click)="createItemDialog()">Add Item</button>
        </div>
    </div>
    <div *ngIf="selectedOption === 'query'">
        <div class="row mt-3">
            <div class="col-3">
                <span>Hash Key</span>
            </div>
            <div class="col-3">
                <span> {{keySchema['hash_key']['attribute']}}:{{keySchema['hash_key']['data_type']}} </span>
            </div>
            <div class="col-3">
                <mat-form-field appearance="outline">
                    <mat-select [(value)]="selectedHashKeyOperation" disableOptionCentering>
                        <mat-option *ngFor="let operation of operations" [value]="operation">{{operation}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field appearance="outline">
                    <mat-label>Input Value</mat-label>
                    <input matInput  #model="ngModel" [(ngModel)]="hashKeyValue" required>
                    <mat-error>Hash key value is required.</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-3">
                Range Key
            </div>
            <div class="col-3">
                {{keySchema['range_key']['attribute']}}:{{keySchema['range_key']['data_type']}}
            </div>
            <div class="col-3">
                <mat-form-field appearance="outline">
                    <mat-select [(value)]="selectedRangeKeyOperation" disableOptionCentering>
                        <mat-option *ngFor="let operation of operations" [value]="operation">{{operation}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field appearance="outline">
                    <mat-label>Input Value</mat-label>
                    <input matInput [(ngModel)]="rangeKeyValue">
                </mat-form-field>
            </div>
        </div>
        <div class="row mt-3" *ngIf="selectedOption === 'query'">
            <div class="col-3">
                <button mat-stroked-button (click)="search()" [disabled]="model.invalid">Search</button>
            </div>
        </div>
    </div>
    <div *ngIf="dataSource.data.length > 0 && hasRecords">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" width="100%">
            <ng-container *ngFor="let col of columnDefs" matColumnDef={{col}}>
                <th mat-header-cell *matHeaderCellDef class="header"> {{col}} </th>
                <td mat-cell *matCellDef="let element" matTooltip={{element[col]}}> {{ element[col] }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnDefs"></tr>
            <tr mat-row *matRowDef="let row; columns: columnDefs;"></tr>
        </table>
    </div>

    <div *ngIf="dataSource.data.length > 0 && (exclusiveKeys['hashKeyName'] !== undefined && exclusiveKeys['hashKeyName'] !== null)">
        <button mat-stroked-button (click)="next()">Next</button>
    </div>
    <div *ngIf="dataSource.data.length == 0 && hasRecords">
        <mat-progress-bar mode="query"></mat-progress-bar>
    </div>

    <div *ngIf="!hasRecords">
        No records found.
    </div>
</div>
