table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-stroked-button {
  line-height: 55px !important;
  background: #114b66;
  color: #ffffff;
}

span {
  line-height: 80px !important;
}


#toast-container > .toast-success {
  background-image: none;
  background-color: #3BB9FF;
  color: black;
}

.selected {
  background-color: #bacec6;
}

.header-row {
  font-weight: bolder;
  color: #000000;
}
