table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width:auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-stroked-button {
  line-height: 55px !important;
  background: #114b66;
  color: #ffffff;
}

.toast-blue {
  background-color: #3BB9FF;
}
