table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width:auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.attributes-btn {
  line-height: 30px !important;
  background: #5ef9c2;
  color: #000000;
}

.toast-blue {
  background-color: #3BB9FF;
}

.mat-stroked-button {
  line-height: 50px !important;
  background: #114b66;
  color: #ffffff;
}
