table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width:auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.toast-blue {
  background-color: #3BB9FF;
}
#toast-container > .toast-success {
  background-image: none;
  background-color: #3BB9FF;
  color: black;
}
